.header {
  color: #00aced;
  text-align: center;
  font-size: 4vw;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
  background-color: #c0deed;
  font: arial;
  margin: auto;
  /*padding: 50px;*/
}

.timestamp {
  color: grey;
}

.box {
  background-color: #ffffff;
  width: 50%;
  margin: auto;
  border-style: solid;
  border-radius: 20px;
  padding: 1.5vw;
  height: auto;
  color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: left;
  margin-bottom: 2vh;
}

.user {
  color: #0033cc;
  text-decoration: underline;
}

.user:hover {
  color: #505050;
  cursor: pointer;
  cursor: hand;
}
